<!-- <!DOCTYPE html> -->
<link rel=stylesheet href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jolinna Yuan Li</title>
</head>

<body>
	<div id="sidebar">
		<h1 id="namebut">Jolinna Yuan Li</h1>
		<br>
		<ul>
			<li id="but_films">films</li>
			<li id="but_installation">installation</li>
			<li id="but_about">about</li>
		</ul>
	</div>
	<div id="content">
		<div id="page_home" class="page align_under_name">
				<div id="status-text">Jo is currently an Aunspaugh Fellow at the University of Virginia</div>
				<br>
				<pre>upcoming:
Second Street Gallery <i>en route</i> on view October 2nd - November 20th
Ivy Creek Showcase November 15th</pre>
	<br>
	<img src="../../media/docs/stills/home-remedies/11.webp" >

			<p id="misc"><a href="./misc.html">misc</a></p>

		</div>

		<div id="page_films" class="page is-hidden">
			<div class="content_scrollcontainer">


				<div id="film_grid" class="align_under_name">

					<!-- add: film_grid -->

				</div>


			</div>
		</div>

<!-- add: films -->

<div id="film_fairytale" class="page vpage is-hidden"><div class="content_scrollcontainer">
	<main>
		<h2>home remedies | 10 min</h2>

		<p class="subtitle">Experimental film shot with iphone during Yeyin Residency in Taichung, Taiwan December 2025 - January 2026</p>

		<p class="summary-p">Lost things in a dark river, a hand combing through it. A child on the search for order does it in secret to preserve its sacredness. Time precipitates. It gathers in low places. But the juvenile rituals remain. Praying morphs into home remedies made with glistening wax apples before finally taking form through the iris of the camera, where another system of faith is constructed.</p>

		<div class="image-grid">
			<div class="img-box"><img src="../../media/docs/stills/fairytale/1.webp" alt="Goldfish"></div>
			<div class="img-box"><img src="../../media/docs/stills/fairytale/2.webp" alt="Pool side"></div>
			<div class="img-box"><img src="../../media/docs/stills/fairytale/3.webp" alt="Water shadow"></div>
			<div class="img-box"><img src="../../media/docs/stills/fairytale/4.webp" alt="Wax apple"></div>
		</div>

	</main>
	</div>
</div>

		<div id="page_installation" class="page align_under_name is-hidden">
			<div class="content_scrollcontainer">
			<div id="installation_grid">
					<figure>
						<a href="#womb">
							<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/19.webp" />
						</a>
						<figcaption><a href="#womb">the womb is an altar of <br> all the things i miss</a></figcaption>
						<figcaption class="location">Taichung, Taiwan</figcaption>
					</figure>

					<figure>
						<a href="#hand">
						<img src="../../media/docs/stills/the-hand-is-no-ones/7.webp" />
						</a>
						<figcaption><a href="#hand">the hand is no one's <br> by JAR</a></figcaption>
						<figcaption class="location">Ruffin Gallery in Charlottesville, Virginia</figcaption>
					</figure>
			</div>
			</div>
		</div>
		<div id="installation_womb" class="page is-hidden">
			<div class="content_scrollcontainer">
				<h2>the womb is an altar of all the things i miss | Gallery Show</h2>
				<div class="subtitle">January 2026 Lei Gallery in Taichung, Taiwan <br> in collaboration with Autumn Samone</div>

				<div class="rowgrid rg5">
				<div class="first_cell">
					Do you have any secret dreams, leaping like moving feet?
					We invite you into a cradle for all the desires that have not
					gone away, only transferred and displaced; things that have
					been given and kept for good.

					<br><br>
					This Duo Show, as a part of the Yeyin Art Residency,
					consists multi-media installation, painting, and three films:

					<ul>
					<li><i>home remedies</i>, by Jolinna Li</li>
					<li><i>Ballooning under a dirty cocoon</i>, by Autumn Samone</li>
					<li><i>Rebel Without a Cause</i>, by Judy Zhao, writing by Jolinna Li</li>
					</ul>
				</div>
				<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/5.webp">
				</div>

				<div class="rowgrid rg1">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/9.webp">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/19.webp">
				</div>

								<div class="rowgrid rg1">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/14.webp">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/6.webp">
				</div>

				<div class="rowgrid rg3">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/18.webp">
					<div class="my-p">
					<p>
Interactive part of the exhibit, as an excercise in
ritual making, a modern altar was made with code
and analog buttons.
<br><br>
Participants can hear a previous message recorded
by another person and then proceed to record their
own voice message, with the new message
overwriting the previous one.
<br><br>
This was made with the help of James Huang.
						</p>
						</div>
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/7.webp">
				</div>

				<div class="rowgrid rg2">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/8.webp">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/20.webp">
					<img src="../../media/docs/stills/the-womb-is-an-altar-of-all-the-things-i-miss/15.webp">
				</div>
			</div>
		</div>
		<div id="installation_hand" class="page is-hidden">
			<div class="content_scrollcontainer">

			<!-- Main Content Area -->
			<main>

			<h2>the hand is no one's | Trio Show by JAR</h2>
			<p class="subtitle">April 2025 Ruffin Gallery in Charlottesville, Virginia in collaboration with Autumn Samone and Rian Gonzalez</p>

			<!-- Left Text Column -->

			<div class="rowgrid rg1">
				<p>


					Stories can be thought of as arrows, or bullets, a
					bowed line from exposition to rising action to climax
					to resolution. But sometimes the line begins to curl
					into itself, spiraling inwards and outwards.
					<br>
					<br>
					JAR is an entity of three artists, a collective vehicle
					that then creates a space to hold an imagined future
					that is reborn from past entanglements. The gallery
					is reconfigured as both an archive of memory and a
					space of community formation, where collective
					histories give rise to new modes of encounter.
				</p>
				<img src="../../media/docs/stills/the-hand-is-no-ones/7.webp" alt="Goldfish">
			</div>
			</main>
			<div id="handgrid">
				<div class="hstack"><img src="../../media/docs/stills/the-hand-is-no-ones/8.webp" alt="Goldfish"></div>
				<div class="vstack mytext">
				<pre>i came here with my mom
whose mom closed her eyes
glued shut to never return
Until the sky flipped over

Ughhhh to feel how it’s always been
and know
our scalps was built in the womb of the most desired

they came for me, and maybe it was the end of the world,
the end of my world, the ends of our worlds-
to stare at the face of death and giggle

bathed by an unclean death
</pre>

<div class="mincenter">
<pre>
-we lived inside in stead , used the dirt to hide our names
trade a green pinky for a cruel thumb,
disguise only by those who shut their lids
, so good we even fooled ourselves
skipping in halls came close
to piss captured in cups
delighted, indulgent even
curvaceous bodies, starvacious tongues
deflating their pipes to find that
and just that, maybe
the flare was plural and too smooth
to make its way to the mouth of someone
who held their feet to the ground</pre>
</div>
</div>
				<div class="vstack">
					<img src="../../media/docs/stills/the-hand-is-no-ones/9.webp" alt="Goldfish">
					<img src="../../media/docs/stills/the-hand-is-no-ones/10.webp" alt="Goldfish">
				</div>
				<div class="vstack">
					<img src="../../media/docs/stills/the-hand-is-no-ones/11.webp" alt="Goldfish">
					<img src="../../media/docs/stills/the-hand-is-no-ones/12.webp" alt="Goldfish">
				</div>
			</div>
			</div>
		</div>
		<div id="page_about" class="page align_under_name is-hidden">
			<section class="content_scrollcontainer">
					<div id="bio">



						<div>

<p>Jolinna Li is an artist, writer, and filmmaker born in Charlottesville, Virginia; growing up between the United States, Taiwan, and China. Li is currently an Aunspaugh Fellow at the University of Virginia for the 2026-2027 academic year.

<p>In her work, she is interested in both personal and collective myth-making, as individuals and communities negotiate their relationship to the camera and the frame. Her practice considers how images construct belief, and how memory, performance, and narrative become entangled through acts of filming and viewing.

<p>Li is the recipient of the 2025-2026 VMFA graduate arts fellowship award and the 2024 UVA Distinguished Artist Award. Her 2024 feature film Gui Zhou was selected at the Asian American International Film Festival in New York, NY. They received their BA from the University of Virginia in Studio Art and English in 2025, concentrating in film and creative writing.

</p>

						</div>

						<div class="vstack1">
							<img  src="../../media/docs/stills/bio/portrait1.webp">

							<div><a href="mailto:jolinnayli@gmail.com"><u>jolinnayli@gmail.com</u></a> /

							<svg fill="#000000" style="transform: translateY(10%)" height="1rem" width="1rem" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 viewBox="0 0 479.254 479.254" xml:space="preserve">
<path d="M451.471,117.602h-3.887c-17.036,0-30.851-13.821-30.851-30.858v-3.877c0-15.334-12.434-27.77-27.753-27.77H256.987
	c-15.351,0-27.786,12.436-27.786,27.77v3.877c0,17.037-13.815,30.858-30.851,30.858H139.77v-3.119V87.705
	c0-16.122-13.121-29.251-29.251-29.251c-16.131,0-29.251,13.129-29.251,29.251v127.091c0,16.123,13.12,29.252,29.251,29.252
	c16.13,0,29.251-13.129,29.251-29.252v-51.441c0-4.461-3.608-8.069-8.069-8.069c-4.46,0-8.069,3.608-8.069,8.069v51.441
	c0,7.235-5.879,13.113-13.112,13.113s-13.113-5.878-13.113-13.113V87.705c0-7.233,5.879-13.112,13.113-13.112
	s13.112,5.879,13.112,13.112v26.777v3.119h-18.155v52.939v16.675l10.086-2.6v-16.658v-4.604c0-8.92,7.227-16.139,16.139-16.139
	c15.209,0,16.139,13.396,16.139,16.139c0,3.242,0,12.971,0,12.971l66.949-17.21c1.159-0.299,2.334-0.457,3.507-0.457
	c6.391,0,11.97,4.35,13.563,10.544l45.248,176.043c1.93,7.486-2.602,15.146-10.086,17.067L90.976,407.561
	c-7.47,1.924-15.186-2.758-17.07-10.087L28.658,221.431c-1.93-7.484,2.602-15.145,10.087-17.068l34.453-8.856v-16.658v-61.246
	H27.784C12.434,117.602,0,130.053,0,145.388v70.213l0.015-0.017v152.45c0,18.44,14.957,33.381,33.365,33.381h24.87l0.024,0.079
	c3.436,13.332,15.436,22.663,29.197,22.663c2.528,0,5.059-0.331,7.525-0.962l84.743-21.78h157.28h35.618h73.254
	c18.408,0,33.363-14.941,33.363-33.381V145.388C479.254,130.053,466.819,117.602,451.471,117.602z"/>
</svg>
<a target="_blank" href="./Li_Jolinna_CV.pdf"><u>CV</u></a>

							</div>
							<!-- <div><a target="_blank" href="./Li_Jolinna_CV.pdf"><u>CV</u></a></div> -->
						</div>

				</div>
			</section>
		</div>
	</div>
</body>

<script src="script.js"></script>