@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* { box-sizing: border-box; }
.figtree-hi {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
img { max-width: 100%; max-height: 100%; }

a { color: black; text-decoration: none;}

body
	{ display: grid
	; height: 100vh
	; grid-template-columns: min-content minmax(0, 1fr)
	; grid-template-rows: 100vh
	; font-family: Figtree, 'Comic Sans MS'
	; position: relative
	; overflow: hidden
	; line-height: 1.6
    ; font-size: 1.2rem
	}

.content_scrollcontainer { padding: var(--body-vgap) var(--body-hgap) var(--body-vgap) var(--middle-hgap) }

#sidebar { white-space: nowrap; padding: 2rem 3rem 2rem 3rem; line-height: 2 }
#sidebar li { font-size: 1.6rem; color: #777; width: min-content; }
#sidebar li:hover { cursor: pointer }
#sidebar h1 { font-size: 2.4rem; font-weight: 480; line-height: 1.6 }
#sidebar li.selected-side { color: #000 }

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#overlay-content {
    width: 60%; height: 60%; display: flex; justify-content: center; align-items: center;
}

.content_scrollcontainer { overflow-y: auto; max-height: 100%; height: 100% }
.page { height: 100%; overflow: hidden; }
#film_grid { width: max(50rem, 70%); display: grid; gap: 1rem 2rem; grid-template-columns: 1fr 1fr;
img { aspect-ratio: 16/9; object-fit: cover }}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    margin-bottom: 25px;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    /* margin-bottom: 15px; */
}

:root {
  --grey: #5E5E5E;
  --body-hgap: 3rem;
  --body-vgap: 2rem;
  --middle-hgap: 2rem;
}

.film-grid { width: 80%; }

.subtitle { margin-bottom: 2rem }

/* Flexbox Grid for Text and Thumbnail Images */
.film-grid h2, .film-grid .subtitle { grid-column: span 2 }
.film-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.6rem 2.1rem;
    margin-bottom: 30px;
}

.filmpage {

    .summary {
        text-align: justify;
        color: var(--grey);
        max-width: 68%;
        margin: 4rem 0 4rem auto
    }

}

.image-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    height: min-content;
    margin: 2rem 0 2rem 0;
}

.img-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.narrow-content { width: max(54rem, 67%)}

#page_about {
    .narrow-content {
        display: grid;
        grid-template-columns: 1.6fr 1fr;
    }
}

#page_installation {
    figure {
        img { max-height: 25rem; flex: none; flex-shrink: 0 }
        display: flex; flex-direction: column; gap: 1.5rem; color: var(--grey);
    }
    .location { margin-top: 1rem }
    #installation_grid {
        font-size: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem 6rem;
        flex-direction: row;
        /* grid-template-rows: 35rem min-content min-content; */
        /* grid-auto-flow: column; */
        /* grid-auto-columns: max-content; */
    }
}



.vstack {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.vstack1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mincenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    * { color: green }
}

.vpage { max-width: 75rem }

.right_float { float: right; margin: 0 0 1rem 2.5rem; width: max(25rem, 70%) }
.skinny { width: min(25rem, max(20rem, 60%)) }

i { font-style: italic }

#bio { max-width: 60rem }

.page h2, .page h1 { margin-bottom: 2rem }
.page p { margin-bottom: 2rem }

#namebut { letter-spacing: -0.12rem }
#namebut :hover { cursor: pointer }
.img-box :hover { cursor: pointer }

.align_under_name { padding-top: 6rem }

#handgrid {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: max-content minmax(0, 1fr);

    .hstack {
        grid-column-end: span 2;
        img { width: 100% }
    }

    .mytext { grid-row-end: span 2 }
}

#installation_hand {
    .rowgrid { display:  grid; gap: 2rem; margin-bottom: 2rem }
    .rg1 { grid-template-columns: 1fr 1fr }
    .right_float { width: 40%; margin-right: 10%; }
}

#installation_womb {
    .rowgrid {
        display: grid;
        gap: 2rem;
        margin-bottom: 2rem;
        p { margin: 0 }
        img { width: 100%; height: 100%; object-fit: cover }
    }

    ul { list-style: disc; margin-left: 2rem  }


    .rg5 { grid-template-columns:  1fr 1fr }
    .first_cell { container-type: inline-size; align-self: start; color: var(--grey); font-size: 1.2cqw ;}

    .rg1 { grid-template-columns: 1fr 1fr; }
    .rg2 { grid-template-columns: 1fr 3fr 1fr; }
    .rg3 { grid-template-columns: 1fr 1fr 1fr; .my-p {  display: flex; align-items: center } }
}

#page_home {
    text-align: right;
    padding-right: var(--body-hgap);
    font-size: 1.2rem;
    pre { color: var(--grey) }
    img { padding: 1rem 8rem 1rem 8rem}
}

#status-text { font-size: 1rem }


@media (max-width: 70rem) {

    #sidebar { padding: 1.2rem 1.5rem 1.2rem 1.5rem }
    .content_scrollcontainer { padding: 1.2rem }

    #installation_hand {
    .rowgrid { grid-template-columns: 1fr}
    }

    .align_under_name { padding-top: 0 }

    #page_home { padding: 2rem; img { padding: 0 }}

    .image-grid { grid-template-columns: 1fr; width: 100% }
    body { grid-template-columns: 1fr; grid-template-rows: unset; height: unset; overflow: auto; }
    #sidebar { height: min-content }
    #installation_grid { flex-direction: column; flex-wrap: nowrap; figure { img { max-height: unset } width: 100%; } }

    .right_float { width: 100% }

    #film_grid { width: 100%; grid-template-columns: 1fr }

    #handgrid {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        /* grid-template-rows: max-content minmax(0, 1fr); */

        .hstack {
            grid-column-end: span 1;
            img { width: 100% }
        }

        .mytext { grid-row-end: span 1 }
    }

    #installation_womb {
        .first_cell { font-size: 1rem }
        .rowgrid {
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr;
        }

    }


}

main { p { text-align: justify }}
